.awards-wrapper * {
    box-sizing: border-box;
}

.awards-wrapper {
    margin: 20vh 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

#awards-title {
  font-family: Modeka;
  font-size: 10em;
  background: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1vh;
}

.award {
    padding: 1% 1%;
    margin: 3vh 0;
    height: 30vh;
    width: 40vw;
}

.award:nth-child(even) {
    flex-direction: row-reverse;
}

.title {
    height: 60%;
    width: 50%;
    margin: 0% 0%;
    box-shadow: 0 0.5vh 1vw 0 rgba(42, 19, 84, 0.71);
    border: 0.5em double rgba(219, 232, 255, 0.64);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title > span {
    font-size: 1.5em;
}

.description {
    height: 60%;
    width: 50%;
    padding: 3%;
}